/* 背景遮罩 */
.Baffle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
}
.bg-cover{
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: 10;
}

.Baffle .Baffle-content{
  display: block;
  position: relative;
  z-index: 11;

}

.Baffle .Baffle-content .closeIcon{
  width: 85px;
  height: 85px;
  position: absolute;
  top: -109px;
  right: 0;
}