.ToggleSelectNum{
  display: flex;
  align-items: center;
}

.ToggleSelectNum .reduce{
  width: 68px;
  height: 54px;
  border-radius: 10px 0 0 10px;
  background-image: url(./toggleNumSelect-del.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: 1px solid #d6cfc9;
  background-position: center;
}
.ToggleSelectNum .reduce:active{
  background-image: url(./toggleNumSelect-del-active.png);
  background-color: #ff7c1c
}
.ToggleSelectNum .content {
  width: 74px;
  height: 54px;
  line-height: 54px;
  border-top: 1px solid #d6cfc9;
  border-bottom: 1px solid #d6cfc9;
  background-color: #eee;
  font-size: 32px;
  color: #3d3d3d;
}

.ToggleSelectNum .add{
  width: 68px;
  height: 54px;
  border-radius: 0 10px 10px 0;
  background-image: url(./toggleNumSelect-add.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: 1px solid #d6cfc9;
  background-position: center;
}

.ToggleSelectNum .add:active{
  background-image: url(./toggleNumSelect-add-active.png);
  background-color: #ff7c1c
}